@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
@media (prefers-color-scheme: light) {
    body, html {
        --bg-color: #ffffff;
        --second-bg-color: #d7d7d7;
        --text-color: #000000;
        --main-color: #ff004f;
        --primary-background: url(images/BMW\ DAY\ 1.jpg);
        --quaternary-collor:#1b1b1b;
        --invert: invert(100%);
        --Backgroundphone: url(images/home.jpg);
        
    }
}

@media (prefers-color-scheme: dark) {
    body, html .header {
        --bg-color: #131313;
        --second-bg-color: #232323;
        --text-color: #fff;
        --main-color: #ff004f;
        --primary-background: url(images/BMW-NIGHT-1.jpg);
        --quaternary-collor:#d5d5d5;
       --invert: invert(0%);
       --Backgroundphone: url(images/bmw\ website\ dark.jpg);
    
    }
}
.logobar{
   
    filter:  var( --invert);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body {
    background: var(--bg-color);
    color: var(--text-color);

}
/* -----------Home--------------- */
.Hometext{
    color: white;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.1px 10%;

    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}



.logo{
    width: 70px;
    size: 200px;
    filter:  var( --invert);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
  
    align-items: center;
    background-image: var(--primary-background);
    background-size: cover;
}



.home-content h3 {
    font-size: 5rem;
    font-weight: 700;
   
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
   
}

span {
    color: var(--main-color);
    
}

.home-content h1 {
    font-size: 100rem;
    font-weight: 700;
    line-height: 1.3;
    
}

.home-content p {
    font-size: 2rem;
     
   
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}
/* -----------about--------------- */
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}


.About-me-text{
    margin-top: 30px;
    font-size: 30px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.heading {
    text-align: center;
    font-size: 6.5rem;
    
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-col-1{
    flex-basis: 35%;
    font-weight: 800;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}

.tab-titles{
    display: flex;
    
}
.tab-links{
    
    margin: 20px;
    padding-top: 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
   
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all  0.5s;
}

.tab-links.active-link::after{
    
    width: 50%;
    
}

.tab-contents ul li{
    list-style: none;
    margin: 13px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 18px;
}
.tab-contents{
    font-size: 14px;
    
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ----------------services------------- */



.services h2 {
    margin-bottom: 10rem;
}

.card-price{
    
    align-items: center;
    margin: 1rem;
   }
   .card-price > p {
       font-size: 15rem;
       font-weight: 800;
   } 
.card-detail > p{
    padding: 0.6rem 1.5rem;
    
    font-size: 8rem;
    border-bottom: 1px solid var(--quaternary-collor);
 }
 .text {
    font-size: 16px;
  }
  .more-packs{
font-size: 15px;
  }
  .moreText {
    display: none;
  }
  .read-more-btn {
    align-content: center;

 
  margin-bottom: 30px;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
  }
  .read-more-btn:hover {
    box-shadow: none;
}


  .text.show-more .moreText {
    display: inline;
  }
  .text.show-more .dots {
    display: none;
  }
  .aboutrel{
    color: var(--text-color);
    font-weight: 800;
    align-items: center;
    font-size: 20px;
  }
 .text202{
    color: var(--text-color);
 }

 
  
 
.services-container,.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.services-container .services-box {

    flex: 1 1 25rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
}

/* -------portfolio----------- */
/* -------Images----------- */
.portfolio {
    background: var(--second-bg-color);
}
  .container{
    margin: 40px 10px 0 20px;
       }

  .container .heading h3 span{
    font-weight: 100;
  }
  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
  }
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 31.5%;
    
    
  }
  
  .container .box .dream img{
    
    width: 100%;
    margin-bottom: 39px;
    border-radius: 20px;
    
  }
 
  @media only screen and (max-width: 769px){
      .container .box{
     flex-direction: column;
    }
  
  .container .box .dream{
    width: 100%;  
  }}
  
  .wrapper{
    max-height: 50%;
    max-width: 1100px;}

  .gallery .image img
  { 
    
    width: 100%;
    vertical-align: middle;
    transition: all 0.8S ease;
    
  }


  .gallery .image:hover img 
  {
    transform: scale(1.1);
   
  }

  .preview-box{
    border-radius: 20px;
    position: fixed;
    align-items: center;
    top: 53%;
    left: 50%;
    size: 100%;
    transform: translate(-50%, -50%) scale(0.9);
    background: var(--second-bg-color);
    max-width: 495px;
    width: 80%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 20px;
    padding: 0 10px 10px 10px;
    
  }
  
  .preview-box.show{
 
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.4s ease;
    
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 15px 25px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    margin: 0 5px;
  }
  .details .title p.current-img{
    font-weight: 500;
  }
  .details .icon{
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    max-height: 700px;
    width: 100%;
    border-radius: 20px;
  }
  .shadow{
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
  }

/* -------About----------- */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
         padding: 0.1px 4%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
} 
@media (max-width: 1024px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        padding-bottom: 55px;
        display: block;
      
        
    }
    .home {
        
      
        
        background-image: var(--Backgroundphone);
        background-size: cover;
    }
   
    .home-content h3 {
        font-size: 4rem;
        color: var(--text-color);
    }

    .home-content h1 {
        font-size: 8rem;
    }
    .home-content p{
        
       
        color: var(--text-color);
        
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        padding-bottom: 55px;
        display: block;
      
        
    }
    .home {
        
      
        
        background-image: var(--Backgroundphone);
        background-size: cover;
    }
   
    .home-content h3 {
        font-size: 4rem;
        color: var(--text-color);
    }

    .home-content h1 {
        font-size: 8rem;
    }
    .home-content p{
        
       
        color: var(--text-color);
        
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}




.menu-box {
    position: relative;
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu-viewer {
   
    
    transition: .8s;
    cursor: pointer;
  
}

.menu {
    box-shadow: 0px 0px 5px 0px #dcdcdc;
    background-color: #fa0000;
    height: fit-content;
    top: 0px;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%) scale(0);
    position: absolute;
    transition: .7s;
    width: 200px;
    border-radius: 20px;
    z-index: 3;
}



.menu ul li {
    width: 100%;
    list-style-type: none;
}


.menu ul li a {
    width: 100%;
    text-decoration: none;
    padding: 5px;
    line-height: 40px;
    display: flex;
}

.menu ul li a span.text {
    margin-left: 10px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}

.menu-box.menu-toggler .menu{
    transform: translateX(-50%) scale(1);
}
