a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  height: 100px;
  padding: 20px;
  align-items: center;
}
header .logo-holder {
  flex: 0, 5;
  display: flex;
  justify-content: center;
  margin-right: 700px;
  margin-left: 200px;
}
header .logo-holder {
  margin-left: 0px;
}
header nav {
  flex: 0.99;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  font-size: 16px;
}
header nav ul li a {
  display: inline-block;
  color: rgb(119, 113, 113);
  padding: 15px 30px;
  font-weight: lighter;
  margin: 15px;
  transition: opacity 0, 85S;
}
header nav ul li.active a {
  background: #d2d1c5;
  font-weight: bold;
  border-radius: 1.5em;
  color: rgb(0, 0, 0);
}

a:hover {
  opacity: 0.8;
}

.A:active {
  opacity: 0.4;
}

@media only screen and (max-width: 700px) {
  nav {
    width: 100%;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
  }
  li {
    display: block;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: 230px;
  }
  .logo-holder {
    margin-left: 0px;
    margin-top: -80px;
    size: 10px;
  }
}