a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  height: 100px;
  padding: 20px;
  align-items: center;
}
header .logo-holder {
  flex: 0, 5;
  display: flex;
  justify-content: center;
  margin-right: 1100px;
  margin-left: 30px;
}
header nav {
  flex: 0.99;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  font-size: 16px;
}
header nav ul li a {
  display: inline-block;
  color: rgb(119, 113, 113);
  padding: 15px 30px;
  font-weight: lighter;
  margin: 15px;
  transition: opacity 0, 85S;
}
header nav ul li.active a {
  background: #d2d1c5;
  font-weight: bold;
  border-radius: 1.5em;
  color: rgb(0, 0, 0);
}

a:hover {
  opacity: 0.8;
}

.A:active {
  opacity: 0.4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 60%;
}

.images {
  display: flex;
  width: 100%;
  
}

.images img {
  
  height: 600%;
  width: 120%;
  margin-left: 260px;
  margin-top: 30px;
  transition: all 0.35s ease;
  
}

.images input {
  display: none;
}

.dots {
  display: flex;
  justify-content: center;
  margin-left:810px;
  margin: 0, 5px;
}

.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid rgb(0, 0, 0) 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 15px;
}

.dots label:hover {
  background-color: black;
}
#img1:checked ~ .m1 {
  margin-left: -20;
  
}
#img2:checked ~ .m2 {
  margin-left: -120%;
  
}
#img3:checked ~ .m3 {
  margin-left: -266%;
  
}
